 /* Add your custom styles here */

 @font-face {
    font-family: 'Colonna MT';
    src: url('../fonts/ColonnaMT.ttf') format('truetype'); /* adjust the format based on your font files */
    /* Add additional src entries for other font formats if needed */
}

 body {
    padding-top: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark gray text color */
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1, h2, h3 {
        font-family: 'Open Sans', sans-serif;
}
p {
font-family: 'Arial', sans-serif;
}

/* Adjust padding for fixed navbar */
@media (min-width: 992px) {
    body {
        padding-top: 80px;
       

    }
}

/* Underline animation on hover */
.navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s ease;
    color: #007bff; /* Blue link color */
}

.navbar-nav .nav-link:hover {
    color: #0056b3; /* Darker blue on hover */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #61C8E9; /* Blue underline color */
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* Active link style */
.navbar-nav .nav-item.active .nav-link {
    color: #0056b3 !important; /* Darker blue for active link */
    font-weight: bold;
}

.navbar-nav .nav-item.active .nav-link::after {
    width: 100%;
}

/* Header Section */
#header {
    background: url('../images/1.jpeg') center/cover no-repeat;
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 0;
   
}

/* Add overlay effect */
#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

/* CSS animation to smoothly change background images */
@keyframes changeBackground {
    0%, 100% {
        background: url('../images/1.jpeg') center/cover no-repeat;
    }
    33% {
        background: url('../images/2.jpeg') center/cover no-repeat;
    }
    66% {
        background: url('../images/3.jpeg') center/cover no-repeat;
    }
  
}

/* Add crossfade effect */
@keyframes crossfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header::before {
    animation: crossfade 1s ease; /* Adjust the duration as needed */
}







/* Title Font */
#header h1 {
    font-family: 'Colonna MT', serif; /* Use Colonna MT font for the title */
    font-size: 7em; /* Increase the font size */
    margin-bottom: 20px;
    color: #ffffff; /* Lighter color for the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}




#header p {
font-size: 2em; /* Increase the font size */
margin-top: 20px;
color: #fcfcfc; /* Lighter color for the text */
line-height: 1.5; /* Adjust the line height for better readability */
font-style: italic; /* Add italic style */
text-shadow:0 0 1px transparent;
}

#contact-container::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;

background: rgba(0, 0, 0, 0.2); /* Adjust the overlay color and opacity */
}
/* Custom styles for menu items */
.card {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 100%; /* Set a fixed height for all cards */
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #343a40; /* Dark gray text color */
}

.card-text {
    font-size: 0.9em;
    color: #6c757d; /* Gray text color */
}

.card-text.price {
    font-weight: bold;
    color: #d9534f; /* Bootstrap's danger color for emphasis */
}



/* More Food Button */
#moreFoodButton {
    background-color: #007bff; /* Blue button color */
    border-color: #007bff; /* Blue button border color */
    color: #fff; /* White text color */
}

#moreFoodButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker blue button border on hover */
}

.contact-info {
background-color: #f8f9fa;
padding: 20px;
border-radius: 8px;
}

.contact-info {
text-align: left;
}

.contact-form {
background-color: #ffffff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.contact-item {
display: flex;
align-items: center;
margin-bottom: 20px;
}
.contact-item i {
margin-right: 15px;
color: #6c757d; /* Icon color, adjust as needed */
}

.contact-item p {
margin: 0;
font-size: 1.2em;
color: #333; /* Text color, adjust as needed */
}

.social-icons {
margin-top: 20px;
}

.social-icons a {
margin-right: 10px;
color: #6c757d; /* Icon color */
}

.social-icons a:hover {
color: #0056b3; /* Icon color on hover */
}

.contact-form label {
font-weight: bold;
}

.contact-form textarea {
resize: vertical;
}

.g-recaptcha {
margin-top: 15px;
}
