/* Header Section */
#header {
background: url('../images/1.jpeg') center/cover no-repeat;
position: relative;
color: white;
text-align: center;
padding: 100px 0;



}

/* Add overlay effect */
#header::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2); /* Adjust the overlay color and opacity */


}